<section class="new_advertisement">
    <div class="container">
      <div class="row">

        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
        <div class='advertisement-new'>

          <%= @user.user_name %>


          <%= form_for @message do |f| %>
            <%= render 'shared/error_messages', object: f.object %>

            <div class="field">
                <%= f.text_field :description %>
            </div>

            <div class="actions">
              <center><%= f.submit "Enviar" , class: 'btn btn-primary' %></center>
            </div>

            <p> </p>

          <% end %>

        </div>
            </div>
        </div>
    </div>
</section>
