<div class='users-edit-page'>
  <h1>Alterando Informações</h1>

  <%= form_for @user do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    
    <div class="field">
        <%= f.label :user_name, 'Nome' %>
        <%= f.text_field :user_name %>
    <div/>

    <div class="field">
        <%= f.label :user_cpf, 'CPF' %>
        <%= f.text_field :user_cpf %>
    <div/>

    <div class="field">
        <%= f.label :user_sex, 'Sexo' %>
        <%= f.text_field :user_sex%>
    <div/>

    <div class="field">
        <%= f.label :user_date_of_birth, 'Data de Nascimento' %>
        <%= f.date_field :user_date_of_birth%>
    <div/>
    
    <div class="field">
        <%= f.label :password, 'Senha' %>
        <%= f.password_field :password %>
    <div/>

    <div class="field">
        <%= f.label :password_confirmation, 'Confirmação de Senha' %>
        <%= f.password_field :password_confirmation%>
    <div/>  

        <%= f.fields_for :contact do |ff| %>
         
         <div>
             <%= ff.label :user_email, 'Email' %>
             <%= ff.text_field :user_email %>
         </div>
 
         <div>
             <%= ff.label :user_home_phone, 'Telefone Residencial' %>
             <%= ff.text_field :user_home_phone %>
         </div>
 
         <div>
             <%= ff.label :user_cel_phone, 'Telefone Celular' %>
             <%= ff.text_field :user_cel_phone %>
         </div>
         
        <% end %> 

        <%= f.fields_for :adress do |ff| %>
         
         <div>
             <%= ff.label :adress_cep, 'Cep' %>
             <%= ff.text_field :adress_cep %>
         </div>
 
         <div>
             <%= ff.label :public_place, 'Endereço' %>
             <%= ff.text_field :public_place %>
         </div>
 
         <div>
             <%= ff.label :adress_complement, 'Complemento' %>
             <%= ff.text_field :adress_complement %>
         </div>
 
 
         <div>
             <%= ff.label :adress_number, 'Número' %>
             <%= ff.text_field :adress_number %>
         </div>
 
         <div>
             <%= ff.label :neighborhood, 'Bairro' %>
             <%= ff.text_field :neighborhood %>
         </div>
 
         <div>
             <%= ff.label :adress_state , 'Estado' %>
             <%= ff.text_field :adress_state %>
         </div>
 
         <div>
             <%= ff.label :adress_city, 'Cidade' %>
             <%= ff.text_field :adress_city %>
         </div>
         
        <% end %>   
 
    <div><%= f.submit class: 'btn btn-primary' %></div>

  <% end %>
</div>
