<p id="notice"><%= notice %></p>

<div class="container">
    <div class="row">

        <% if @advertisements != nil%>

        <!-- Page header -->
        <div class="page-header">
            <h2>Anúncios disponíveis</h2>
        </div>
        <!-- /Page header -->

        <% @advertisements.each do |advertisement| %>




        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="panel panel-primary text-center">
                <div class="panel-body">
                    <img class="img-responsive img-effect" src="http://lorempixel.com/700/500/city/<%= advertisement.id %>">
                    <h3 class="city_name">
                        <%= link_to advertisement.destiny, advertisement %>
                    </h3>
                </div>
                <div class="panel-footer">
                    <p>
                        <%= advertisement.description %>
                    </p>
                    <p>
                        <span style="font-weight: bold;">Data: </span><%= advertisement.travel_date %>
                    </p>
                </div>
            </div>
        </div>

        <% end %>
    </div>
</div>

<% else %>
<p>No momento não temos anúncios cadastrados! Em breve haverá novos anúncios :)</p>
<% end %>
