
<section class="new_advertisement">
    <div class="container">
      <div class="row">
          <div class="col-md-4 col-md-offset-4">
            <h1>Criação de Anúncio</h1>
          </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
        <div class='advertisement-new'>
          <%= form_for @advertisement do |f| %>
            <%= render 'shared/error_messages', object: f.object %>

            <div class="field">
                <%= f.label :description, 'Descrição' %><br>
                <%= f.text_field :description %>
            <div/>

            <div class="field">
                <%= f.label :travel_date, 'Data da Viagem' %><br>
                <%= f.date_field :travel_date %>
            <div/>

            <div class="field">
                <%= f.label :type_itens, 'Tipo de Item' %><br>
                <%= f.text_field :type_itens %>
            <div/>

            <div class="field">
                <%= f.label :destiny, 'Destino' %><br>
                <%= f.text_field :destiny%>
            <div/>

            <div class="actions">
              <center><%= f.submit "Criar Anúncio" , class: 'btn btn-primary' %></center>
            </div>

            <p> </p>

          <% end %>

        </div>
            </div>
        </div>
    </div>
</section>
